﻿:root {
  font-family: 'Open Sans', serif;
  background-color: white;
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1);
  border-left-color: #22a6b3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  position: absolute;
  right: 1600px;
  top: 90px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.logo{
  height: 4%;
  width: 9%;
  position: absolute; 
  top: 5rem;
  left: 5rem;
}


.logo:hover{
 background-color: rgba(192, 216, 224, 0.4);
 height: 6%;
 width: 11%;
 top: 70px;
left: 60px;
 border-radius: 7px;
}

.enterchave{
  background-color: #484851;
  font-family: 'Open Sans', serif;
  color: white;
  height: 5%;
  width: 7%;
  position: absolute;
  top: 149px;
  left: 25rem;
  padding-left: 28px;
  padding-top: 8px;
  border-radius: 7px;
  }

.enterreq{
  background-color: #484851;
  top: 730px;
  left: 5rem;
  padding-left: 28px;
  padding-top: 8px;
  color: white;
  height: 5%;
  width: 7%;
  position: absolute;
  border-radius: 7px;
}  

.edenterreq{
  background-color: #484851;
  top: 730px;
  left: 6rem;
  padding-left: 28px;
  padding-top: 8px;
  color: white;
  height: 5%;
  width: 10%;
  position: absolute;
  border-radius: 7px;
}

.maindoc {
  height: 100%;
  width: 85%;
  position: fixed;
  z-index: 1;
  top: 150px;
  left: 20px;
  background-color: #F1F1F3;
  overflow-x: hidden;
  padding-top: 10px;
}

.TituloDocs{
  color: #38383F;
  font: 'Open Sans', serif;
  font-size: 28px;
  position: absolute;
  top: 30px;
  left: 70px;
}

.Chave{
  animation: fadeIn; 
  animation-duration: 1s;
  border-style: hidden;
  width: 15%;
  position: absolute;
  height: 5%;
  top: 150px;
  left: 70px;
  padding: 10px;
}

.Link{
  background-color: #fff;
  color: #484851;
  animation: fadeIn; 
  animation-duration: 1s;
  border-style: hidden;
  width: 50%;
  position: absolute;
  height: 5%;
  top: 150px;
  left: 70px;
  font-size: 20px;
  padding: 10px;
  padding-left: 16px;
}

.copie{
  font-size: 20px;
  position: relative;
  left: 43%;
}

.TipoReq{
  background-color: #fff;
  color:  #484851;
  animation: fadein;
  animation-duration: 1s;
  border-style: hidden;
  width: 10%;
  position: relative;
  height: 5%;
  top: 140px;
  left: 960px;
  font-size: 25px;
  padding-top: 5px;
  padding-left: 52px;
}

.headers{
  color: #38383F;
  font: 'Open Sans', serif;
  font-size: 18px;
  position: absolute;
  top: 240px;
  left: 70px;
}

.bodytitle{
  color: #38383F;
  font: 'Open Sans', serif;
  font-size: 18px;
  position: absolute;
  top: 360px;
  left: 70px;
}

.Content-Type{
  color: #484851;
  background-color: #fff;
  font: 'Open Sans', serif;
  font-size: 15px;
  position: absolute;
  width: 500px;
  height: 5%;
  top: 280px;
  left: 70px;
  padding: 10px;
}

.Content-Length{
  color: #484851;
  background-color: #fff;
  font: 'Open Sans', serif;
  font-size: 15px;
  position: absolute;
  width: 500px;
  height: 5%;
  top: 280px;
  left: 630px;
  padding: 10px;
}

.bodytext{
  color: #484851;
  background-color: #fff;
  font: 'Open Sans', serif;
  font-size: 12px;
  position: absolute;
  width: 1060px;
  height: 260px;
  top: 420px;
  left: 70px;
  padding: 10px;
}

.resultxml{
  color: #484851;
  background-color: #fff;
  font: 'Open Sans', serif;
  font-size: 12px;
  position: absolute;
  width: 1060px;
  height: 630px;
  top: 80px;
  left: 70px;
  padding: 10px;
}

.botcop{
  color: #484851;
  font: 'Open Sans', serif;
  font-size: 12px;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 630px;
  left: 1070px;
  padding: 10px;
}

.loginback{
  height: 100%;
  width: 100%;
  position: absolute;
  background: #ea223e;
}

  ::-webkit-scrollbar {
    background:#12161f;     
  width: 12px;
  height: 12px;
  }
  
  ::-webkit-scrollbar-track {
  border: 2px solid #12161f;
  border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
  background: #12161f;  
  border-radius: 5px;
  }

::-webkit-scrollbar-thumb {
  background: #2e3442;
  border: 1px solid #12161f;  
  border-radius: 2px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #2e3442;  
  }


.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  left: 30px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: -20px;
  left: -20px;
  right: 20px;
  bottom: 20px;
  background-color: #12161f;
  -webkit-transition: .4s;
  transition: .4s;
}



/* Rounded sliders */
.slider.round {
  border-radius: 35px;
}


.content {
  animation: fadeIn; 
  animation-duration: 1s;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
  margin: 0 auto;
  background: #A0C5E8;
  padding: 10px 0;
}

.sidenav1 {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 60px;
  right: 0;
  background-color: #38383F;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 10px;
}

.sidenav1 a {
  padding: 10px 10px 10px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #f1f1f1;
  display: block;
  transition: 0.3s;
}


.sidenav1:hover {
  color: #f1f1f1;
}


.sidenav1.closebtn {
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 25px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

#main1 {
  transition: margin-right .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 25px;}
  .sidenav1 {padding-top: 15px;}
  .sidenav1 a {font-size: 18px;}
}

